# Ignore everything in images
images/*

# But NOT the optimized folder
!images/optimized/

# And NOT its contents
!images/optimized/**

# Comment added to test JJ workflow

# Second comment
